<form action="/links" method="POST">
  <label for="url">Webstie URL:</label>
  <input type="text" name="url">
  <label for="title">Webstie Title:</label>
  <input type="text" name="title">
  <input type="submit" value="Create Link">
</form>
