<form action="/links" method="POST">
  <label for="url">Website URL:</label>
  <input type="text" name="url">
  <label for="title">Website Title:</label>
  <input type="text" name="title">
  <label for="tags">Website Tags:</label>
  <input type="text" name="tags">
  <input type="submit" value="Create Link">
</form>
