<form action='/user' method="post">
  Name:<br>
  <input type="text" name="name"/>
  <br>
  Email address:<br>
  <input type="text" name="email"/>
  <br>
  Password:<br>
  <input type="text" name="password"/>
  <br>
  <input type="submit" value="Save user"/>
</form>
