<h1>Please sign up:</h1>
<form action="/users" method="post">
  <label for="email">Email</label>
  <input type="email" name="email" value='<%= @user.email %>' required>
  <label for="password">Password</label>
  <input type="password" name="password">
  <label for="password_confirmation">Password Confirmation</label>
  <input type="password" name="password_confirmation">
  <input type="submit" value='Sign Up'>
</form>
